.footer-section-container {
  background-color: #181818;
  background-size: cover;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.icon-style {
  color: #ffffff;
  height: 22px;
  width: 22px;
}

.contact-para {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}
