.home-top-container {
  min-height: 800px;
}

@media screen and (min-width: 567px) {
  .home-top-container {
    min-height: 700px;
  }
}

.home-bottom-bg-container {
  background-color: #181818;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding: 25px;
}
.trending-now-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  padding-left: 23px;
}

.orignal-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  padding-left: 23px;
}

.random-poster-container {
  margin-left: 90px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 25px;
}
@media screen and (min-width: 567px) {
  .title-heading {
    font-size: 60px;
  }
}

.overview-para {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  height: 48px;
  width: auto;
  margin-bottom: 90px;
  margin-top: 0;
}

@media screen and (min-width: 567px) {
  .overview-para {
    width: auto;
    font-size: 20px;
  }
}

.play-btn {
  width: 50px;
  height: 20px;
  background-color: #ffffff;
  border-width: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  color: #171f46;
}

@media screen and (min-width: 567px) {
  .play-btn {
    width: 85px;
    height: 32px;
    font-size: 12px;
  }
}
