.movie-navbar-bg-container {
  display: flex;
  align-items: center;
  height: 103px;
  justify-content: space-between;
  padding: 25px;
  padding-left: 45px;
  padding-right: 105px;
  background-color: #131313;
  opacity: 0.8;
}

.movie-logo-container {
  display: flex;
  align-items: center;
}

.header-unordered-list-hp {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding: 6px;
  margin-left: 55px;
}

.header-unordered-list-sp {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding: 6px;
}

.list-icon-profile {
  padding: 10px;
}

.search-icon {
  height: 24px;
  width: 24px;
  color: #ffffff;
}

.list-text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding: 10px;
}

.profile-img {
  height: 48px;
  width: 48px;
  background-color: #ffffff;
  border-radius: 34px;
  margin-left: 12px;
}
